snippet l
print( $1 )
endsnippet

snippet j
json.dumps( $1${2:, indent=4, separators=(",", ": ")} )
endsnippet

snippet ll
print( "$1".format( $2 ) )
endsnippet

snippet special_import_oh_my_god_press_tab_right_now_pleaseimport
import $1
endsnippet
