[submodule "vim/vim/bundle/perl"]
	path = vim/vim/bundle/perl
	url = git://github.com/petdance/vim-perl.git
[submodule "vim/vim/bundle/surround"]
	path = vim/vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/ragtag"]
	path = vim/vim/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
