[user]
	name = Jason May
	email = jason.a.may@gmail.com
[core]
    excludesfile = ~/.gitignore
    editor = vim -c ':normal gg'
	pager = less -+F -x1,5
[color]
    ui = auto
[alias]
    co      = checkout
    ch      = checkout HEAD
    st      = status
    up      = pull --rebase
    git     = !git

    amend = commit --amend -C HEAD
	last = for-each-ref --sort=-committerdate refs/heads

    clong = clone
    dif   = diff
    dfif  = diff
    idff  = diff
    difff  = diff
    upsh  = push
    psuh  = push
    tlog  = log
    tst  = st

    r = rebase -i @{u}
    s = status --short
    d = diff --cached

    f = flow feature
    fo = flow feature checkout
    fs = flow feature start
    ff = flow feature finish

    hist = log --all --graph --pretty='[%C(cyan)%h%Creset]%C(bold cyan)%d%Creset %s'
    graph = log --oneline --abbrev-commit --graph --decorate --date=relative
    timelog = log --oneline  --pretty=format:'%C(yellow)[%ci]%Creset %C(magenta)%h%C(reset) %C(red)%an:%C(reset) %s'
    commits = "!f() { git log --oneline | wc -l; }; f"

	next = "!f() { git checkout tablet-integration; git pull; }; f"

    amend = commit --amend -C HEAD
    reword = commit --amend

[merge]
    tool = vimdiff
	stat = true
[push]
    default = tracking
[receive]
    denyCurrentBranch = ignore
[branch]
    autosetuprebase = remote
[github]
    user = jasonmay
[rebase]
	autosquash = true
	stat = true
[rerere]
	enabled = 1
[init]
	defaultBranch = main
